:root {
  --text-color: #F5F8F3;
  --sc-txtcolor: #365194;
  --main-color: black;
}

/* navbar*/

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 10%;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.bgColor {
  background-color: #325494;
  transition: all 1s;
  height: 80px;
}

.menu-btn, .menu-icon {
  display: none;
}

.bar a {
  font-size: 1rem;
  margin-right: 20px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: bolder;
  line-height: 36px;
}

.join-us-link {
  background-color: #F39F15;
  color: white; 
  height: 36px; 
  line-height: 36px; 
  border-radius: 4px;
  border: none;
}

/* Hero Section */
#home {
  background-image: url(/public/img/hero-man.jpg);
  background-size: cover;
  background-position: center;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  padding: 12rem 20% 2% 16%;
}

.power {
  background-color: #325494;
  border-radius: 4px;
  border: none;
  height: 40px;
  color: var(--text-color);
  width: 10rem;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bolder;
  text-align: center;
  padding: auto;
  font-size: 1.5rem;
}

.container h1 {
  font-size: 80px;
  font-weight: 00;
}

.container > p {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 23px;
  font-weight: 700;
  padding: 1rem ;
}

.sign {
  background-color: #355592;
  border-radius: 4px;
  border: none;
  width: 7rem;
  height: 3rem;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 800;
}
.details {
  border-radius: 4px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 3rem;
  width: 7rem;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  margin-left: 2rem;
}

/* boxes */
.flex-container {
  display: flex;
  background-color: #F1F8FF;
  flex-direction: row;
  justify-content: center;
  padding: 1.5rem;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 15rem;
  height: 7rem;
}

.flex-container > div > p {
  color: var(--sc-txtcolor);
  font-weight: 800;
  text-align: center;
  font-size: 23px;
}

.flex-container > div > p > span {
  color: black;
  font-weight: 800;
}

/* classes */

.classes {
  position: relative;
}

.class-container {
  padding-bottom: 5%;
  width: 60%;
  margin: auto;
}

.bg-shape {
  position: absolute;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 60%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%, 12.5% 50%);
  background: #F6F6F6;
}

.class-container h2 {
  padding-top: 2rem;
  text-align: center;
  color: var(--sc-txtcolor);
  font-weight: 700;
}

.line {
  border: solid 3px #F39F15;
  color : #F39F15;
  width: 8%;
  margin: auto;
  border-radius: 100px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.classes p {
  text-align: center;
  color: var(--main-color);
  font-weight: 700;
}

.button-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap:10%;
}

.button-container button{
  background-color: var(--sc-txtcolor);
  color: var(--text-color);
  font-weight: 800;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  margin-top: 2rem;
  border: none;
}

.classes button:hover {
  background-color: #F39F15;
}

#features-container {
  padding-top: 1.5rem;
  display: flex;
  gap:10%;
  align-items: center;
}

#features-container h6 {
  padding-top: 2rem;
  font-weight: 800;
  text-align: start;
  font-size: 1.5rem;
}
#features-container p {
  font-weight: 600;
  text-align: start;
  margin-top: 1.5rem;
}

#features-container img {
  width: 50%;
}

/* BMI Index */

.bmi-container {
  display: flex;
  width: 75%;
  margin: auto;
  gap: 10%;
  padding-bottom: 2rem;
}

.calculate-container {
  width: 50%;
  margin: auto;
}
.calculate-container h1 {
  color: var(--sc-txtcolor);
  font-weight: 800;
}

.calculate-container p{
  font-weight: 700;
  text-align: start;
}

.calculate-container input{
  border-radius: 5px;
  border: 2px solid black;
}

.calculate-container span{
  padding-left: 0.3rem;
}

.img-container img {
  width: 100%;
}

.img-container {
  text-align: center;
  position: relative;
}
.triangle {
  position:absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top: 0;
  border-bottom: 30px solid #F39F15;
  left:6%;
}

/* Our Trainers */

#trainer {
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  padding: 40px 0;
  background-color: aliceblue; 
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
}

.section-header h2 {
  color: #355592;
  font-size: 2em;
}

.underline {
  width: 100px;
  height: 10px;
  border-radius: 20px;
  background-color: orange;
  margin: 10px auto;
}

/* Our Trainers Section Styles */
.trainer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  z-index: 1;
}

.trainer {
  position: relative;

}

.trainer img {
  width: 70%;
  border: 4px solid orange; 
}

.trainer::before,
.trainer::after {
  content: "";
  position: absolute;
  background-color: #355592;
  transition: 0.2s linear;
}

.trainer::before { /* vertical lines */
  top: 50%;
  left: 50%;
  width: 77%;
  height: 30%;
  z-index: -1;
  transform: translate(-50%,-50%);
}

.trainer::after { /* horizontal lines */
  bottom: 50%;
  right: 50%;
  width: 30%;
  height: 108%;
  z-index: -1;
  transform: translate(50%, 49%);
}


.trainer:hover::after {
  width: 50%; 
}

.trainer:hover::before {
  height: 70%;
}

/* Shows Trainer Name When Hover */
.trainer .info-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: #355592;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
}

.trainer .info-box::before,
.trainer .info-box::after {
  content: '';
  position: absolute;
  background-color: #355592;
}

.trainer .info-box::before {
  width: 130%;
  height: 40px;
  top: 10px;
  left: -18.5px;
  z-index: -1;
}

.trainer:hover .info-box {
  opacity: 1;
}

.trainer .info-box h3,
.trainer .info-box p {
  margin: 0;
}

.trainer-name {
  font-size: 1.2em;
}

.trainer-role {
  font-size: 1em;
}

/* Purchase From Us */
.purchase-container {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.purchase-container h2 {
  text-align: center;
  color: var(--sc-txtcolor);
  font-weight: 700;
}

.purchase-container p {
  text-align: center;
  color: var(--main-color);
  font-weight: 700;
}
.equipment-container {
  padding-top: 2rem;
  display: flex;
  gap:1.5rem;
  width: 70%;
  margin: auto;
}

.equipment-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.equipment-card img {
  width: 100%;
}
.card-layer {
  text-align: center;
  padding-bottom: 1%;
}
.card-layer p > span{
  text-decoration: line-through;
}
.card-layer p > i {
  float: left;
}

 /* Review Section */
.review-container {
  background-color: #F1F8FF;
  padding-top: 3rem;
}

.review-container h2 {
  text-align: center;
  color: var(--sc-txtcolor);
  font-weight: 700;
}

.review-container p {
  text-align: center;
  color: var(--main-color);
  font-weight: 700;
}

.client-container {
  display: flex;
  width:70%;
  margin: auto;
  gap :5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.client-container p > span {
  font-weight: 800;
}
.client {
  display: flex;
  gap:0.5rem;
  padding-bottom: 1rem;
}
.client img {
  border-radius: 50%;
  width: 60px;
}

.comment {
  position: relative;
  background-color: rgba(53, 85, 146, 1);
}

.comment::after {
  position: absolute;
  content: "";
  clip-path: polygon(100% 0, 1% 0, 100% 100%);
  background-color: #788ec2a1;
  width: 2rem;
  height: 2rem;
  top: 100%;
  left: 0;
}
.comment::before {
  position: absolute;
  content: "";
  clip-path: polygon(0 0, 0 100%, 100% 0);
  background-color: #788ec2a1;
  width: 2rem;
  height: 2rem;
  top: 100%;
  right: 0;
}

.comment p {
  color: #ffff;
  font-weight: 500;
  padding: 1rem;
}

/* Contact Us */

.contact-container {
  padding-top:1rem;
}
.contact-container h2 {
  text-align: center;
  color: var(--sc-txtcolor);
  font-weight: 700;
}

.contact-container p {
  text-align: center;
  color: var(--main-color);
  font-weight: 700;
}
.message-container{
  display: flex;
  width:60%;
  margin: auto;
  gap :5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}
.input-container input,textarea {
  background-color: #F1F8FF;
  border-radius: 5px;
}

.googleMap iframe {
  width:150%;
  height: 100%;
}
/* Footer*/
footer {
  background-color: var(--sc-txtcolor);
}

.footer {
  display: flex;
  width: 70%;
  margin: auto;
  flex-direction: column;
  color: white;
  padding-bottom: 1rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

.footer-container a {
  text-decoration: none;
  color: white;
}
.info {
  display: flex;
  flex-direction: column;
}
.links {
  display: flex;
  flex-direction: column;
}
/* Responsive */
@media screen and (max-width: 576px) {
  .menu-btn {
      display: none;
  }
  .menu-icon {
      display: block;
      font-size: 3rem;
      color: var(--text-color);
      cursor: pointer;
  }
  .bar {
      position: absolute;
      transform: translateY(-400px);
  }
  .navbar-container {
      padding:5%;
  }
  .menu-btn:checked ~ .bar {
      display: grid;
      justify-content:end;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
      transform: translateY(0);
      transition: 0.2s linear;
  }
  .menu-btn:checked ~ .bar a {
      font-size: 1rem;
      margin: 2rem 0;
  }
  .home {
      padding: 9rem 0% 9% 0%;
  }
  .sign {
      width: 100%;
      display: block;
  }
  .details {
      margin-left: 0;
      margin-top: 0.5rem;
      display: block;
      width: 100%;
  }
  .flex-container{
      display: block;
      width: 100%;
  }

  .flex-container > div {
      display: block;
      width: 100%;
  }

  .class-container {
      display: block;
      width: 90%;
  }

  #features-container {
      display: block;
      width: 100%;
  }

  #features-container img {
      display: block;
      width: 100%;
  }
  
  .bmi-container {
      display: block;
      width: 100%;
  }

  .calculate-container {
      width: 90%;
  }
  .img-container {
      display: block;
      width: 100%;
      padding-top: 2rem;
  }
  .img-container img  {
      display: block;
      width: 100%;
  }

  .trainer-container {
      display: block;
      width: 90%;
      margin: 0 auto;
  }

  .trainer {
    display: block;
    width: 80%;
    margin: 4rem auto;
  }

  .purchase-container {
      display: block;
      width: 100%;
  }

  .equipment-container {
      display: block;
      width: 80%;
  }
  
  .equipment-card {
      margin-bottom: 2rem;
  }

  .review-container {
      display: block;
      width: 100%;
  }

  .client-container {
      display: block;
      width: 90%;
      padding-bottom: 0.5rem;
  }
  .review {
      margin-bottom: 4rem;
  }

  .message-container {
      display: block;
      width: 80%;
  }

  .footer {
      display: block;
      width: 90%;
  }
  
  .footer-container {
      display: flex;
      width: 90%;
  }

  .googleMap iframe {
    padding-top: 2rem;
    width: 100%;
  }
}
